@page
@model FormPageModel
@{
    ViewData["Title"] = "Form Page";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6"><br>
            <img src="~/pexels-pixabay-289737.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image"
                width="700" height="600" loading="lazy">
            <h1 class="text-center">Add Room to Database</h1>

            <form method="post">
                <div class="mb-3">
                    <label for="roomName" class="form-label">Room Name:</label>
                    <input type="text" class="form-control" id="roomName" name="RoomName" />
                </div>
                <div class="mb-3">
                    <label for="capacity" class="form-label">Capacity:</label>
                    <input type="number" class="form-control" id="capacity" name="Capacity" min="1" />
                    <small id="capacityError" class="text-danger" style="display: none;">Capacity must be greater than
                        0.</small>
                </div>
                <button type="submit" class="btn btn-primary">Add Room</button>
            </form>
        </div>
    </div>
</div <script src="~/js/rooms.js" asp-append-version="true">
</script>