@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<main>

  <head>
    <style>
      .feature-icon {
        width: 4rem;
        height: 4rem;
        border-radius: .75rem;
      }
    </style>
  </head>

  <body>
    <div class="px-4 pt-5 my-5 text-center border-bottom">
      <h1 class="display-4 fw-bold text-body-emphasis">Welcome to HealthTrack
      </h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          Welcome to HealthTrack! We're here to revolutionize how you approach fitness challenges. Our platform offers a
          seamless way to join challenges tailored to your interests and fitness level. With a supportive community and
          diverse range of challenges, achieving your health goals has never been easier. Join us today and take the
          first step towards a healthier lifestyle!
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
          <a href="/Browse" class="btn btn-primary btn-lg px-4 me-sm-3">Browse Challenges</a>
          <a href="/ContactUs" class="btn btn-outline-secondary btn-lg px-4">Contact US</a>
        </div>
      </div>
      <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
          <img src="~/photos/main_page.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image"
            width="700" height="500" loading="lazy">
        </div>
      </div>
    </div>

    <div class="container px-4 py-5" id="featured-3">
      <h2 class="pb-2 border-bottom">Why Start Your Fitness Journey With Us?</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <img src="~/svgs/exercise.svg" alt="exercise_svg" height="30px">
          </div>
          <h3 class="fs-2 text-body-emphasis">Expertise</h3>
          <p> Our team consists of fitness professionals who are dedicated to helping you achieve your health and
            wellness goals. With their expertise, you can trust that you're receiving top-notch guidance and support
            throughout your fitness journey.
          </p>
        </div>
        <div class="feature col">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <img src="~/svgs/fitness.svg" alt="fitness_svg" height="30px">
          </div>
          <h3 class="fs-2 text-body-emphasis">Personalized Approach
          </h3>
          <p>We understand that every individual is unique, which is why we take a personalized approach to fitness. Our
            platform allows you to set personalized goals, track your progress, and receive tailored recommendations to
            help you reach your full potential.
          </p>
        </div>
        <div class="feature col">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <img src="~/svgs/running.svg" alt="chat-square-heart-image" height="30px">
          </div>
          <h3 class="fs-2 text-body-emphasis">Nationwide Reach
          </h3>
          <p>No matter where you are in the country, our platform is accessible to you. With our nationwide reach, you
            can connect with like-minded individuals, join challenges, and access resources from anywhere, anytime.
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="~/photos/mainp_weight.jpg" class="d-block w-100" alt="weight_image">
          </div>
          <div class="carousel-item">
            <img src="~/photos/mainp_girl.jpg" class="d-block w-100" alt="girl_image">
          </div>
          <div class="carousel-item">
            <img src="~/photos/mainp_run.jpg" class="d-block w-100" alt="running_image">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

  </body>
</main>