@page
@model ReservationModel
@{
    ViewData["Title"] = "Create Reservation";
}
<br>
<div class="container">
        <div class="row justify-content-center">
                    <div class="col-md-6"><br>

            <img src="~/reservation.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image"
                width="700" height="200" loading="lazy">
                <h2 class="">Create Reservation</h2>

<form method="post" class="mt-3" id="reservationForm" onsubmit="return validateForm()">
    <div class="mb-3">
        <label asp-for="Reservation.Room.RoomName" class="form-label">Room Name</label>
        <select asp-for="Reservation.Room.RoomName" class="form-select" asp-items="Model.Rooms" id="roomName" required>
            <option value="">Select a room</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="Reservation.DateTime" class="form-label">Reservation Date</label>
        <input asp-for="Reservation.DateTime" class="form-control" type="datetime-local" id="reservationDate" required />
                <small id="timeError" class="text-danger" style="display: none;">Reservation time must be between 9 AM and 6 PM.</small>

    </div>
    <button type="submit" class="btn btn-primary">Add Reservation</button>
</form>
</div>
</div>
</div>

<script src="~/js/reservation.js" asp-append-version="true"></script>
