@page
@model RoomsModel
@{
    ViewData["Title"] = "Rooms";
}

<link href="~/css/custom.css "rel="stylesheet" />

<nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11"
        aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
        <a class="navbar-brand col-lg-3 me-0" href="#">Reservation System</a>
        <ul class="navbar-nav col-lg-6 justify-content-lg-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-page="/Index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">Account</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" asp-page="/FormPage">Add Room</a></li>
              <li><a class="dropdown-item" asp-page="/Rooms">Show Rooms</a></li>
            </ul>
          </li>
        </ul>
        <div class="d-lg-flex col-lg-3 justify-content-lg-end">
          <div class="me-3">
            <form role="search">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form>
          </div>
          <div>
            <form method="post" asp-area="Identity" asp-page="/Account/Logout"
              asp-route-returnUrl="@Url.Page("/Account/Login", new { area = "Identity" })">
              <button type="submit" class="btn btn-danger"
                onclick="return confirm('Are you sure you want to logout?')">Logout</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>


<h1 class="text-center">Rooms</h1><br>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Room Name</th>
                <th>Capacity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in Model.Rooms)
            {
                <tr class="table-row-highlight">
                    <td>@room.Id</td>
                    <td>@room.RoomName</td>
                    <td>@room.Capacity</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="container mt-3">
    <a class="btn btn-primary" asp-page="/FormPage">Add Room</a>
    <a class="btn btn-secondary" asp-page="/Index">Home</a>
</div>