@page
@model IndexModel
@inject ReservationService ReservationService

@{
  ViewData["Title"] = "Home page";
}

<main>


  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">Welcome to our Room Reservation Service</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Quickly Add Rooms to the Database or View the existing rooms.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a class="btn btn-primary btn-lg px-4 gap-3" asp-page="/FormPage">Add Room</a> <a
          class="btn btn-outline-secondary btn-lg px-4" asp-page="/Rooms">Show Rooms</a>

      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="~/pexels-pixabay-159711.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700"
          height="600" loading="lazy">
      </div>
    </div>
  </div>

  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 Company, Inc</p>
  </footer>
</main>
