<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RazorPages</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="~/RazorPages.styles.css" asp-append-version="true" />
</head>

<body>
        @if (!Context.Request.Path.StartsWithSegments("/Identity/Account/Login") &&
    !Context.Request.Path.StartsWithSegments("/Identity/Account/Register") &&
    !Context.Request.Path.StartsWithSegments("/Identity/Account/ForgotPassword") &&
    !Context.Request.Path.StartsWithSegments("/Identity/Account/ForgotPasswordConfirmation") &&
    !Context.Request.Path.StartsWithSegments("/Identity/Account/ResendEmailConfirmation")
    )
    {
    <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11"
        aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
        <a class="navbar-brand col-lg-3 me-0" href="/Index">Reservation System</a>
        <ul class="navbar-nav col-lg-6 justify-content-lg-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-page="/Index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">Account</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" asp-page="/FormPage">Add Room</a></li>
              <li><a class="dropdown-item" asp-page="/Rooms">Show Rooms</a></li>
              <li><a class="dropdown-item" asp-page="/Reservation">Add Reservations</a></li>
                <li><a class="dropdown-item" asp-page="/ReservationShow">Show Reservations</a></li>


            </ul>
          </li>
        </ul>
        <div class="d-lg-flex col-lg-3 justify-content-lg-end">
          <div class="me-3">
            <form role="search">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form>
          </div>
          <div>
            <form method="post" asp-area="Identity" asp-page="/Account/Logout"
              asp-route-returnUrl="@Url.Page("/Account/Login", new { area = "Identity" })">
              <button type="submit" class="btn btn-danger"
                onclick="return confirm('Are you sure you want to logout?')">Logout</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>
}
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @await Html.PartialAsync("_LoginPartial")

      <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 Company, Inc</p>
  </footer>
</body>
</html>