@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;

}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<head>
    <style>
        .profile-picture-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .profile-picture {
            width: 300px; /* Adjust width and height as needed */
            height: 300px;
            border-radius: 50%; /* Ensure it's a circle */
        }

        .profile-picture-default {
            width: 400px; 
            height: 400px;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #999; 
            border-radius: 50%;
        }

    </style>
</head>

    <div class="row">
        <main class="col-md-16">
            <h3>@ViewData["Title"]</h3>
            <partial name="_StatusMessage" for="StatusMessage" />
            <div class="row">
                <div class="col-md-6">
                    <form id="profile-form" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Username" class="form-control" placeholder="Please choose your username."
                                disabled />
                            <label asp-for="Username" class="form-label"></label>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.PhoneNumber" class="form-control"
                                placeholder="Please enter your phone number." />
                            <label asp-for="Input.PhoneNumber" class="form-label"></label>
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.ProfilePicture" type="file" class="form-control" accept="image/*" />
                            <label class="form-label">Profile Picture</label>
                            <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea asp-for="Input.Bio" class="form-control" placeholder="Please enter your bio."
                                rows="4"></textarea>
                            <label asp-for="Input.Bio" class="form-label"></label>
                            <span asp-validation-for="Input.Bio" class="text-danger"></span>
                        </div>
                        <button id="update-profile-button" type="submit"
                            class="w-100 btn btn-lg btn-primary">Save</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="profile-picture-container">
                        @if (Model.Input.ProfilePicture != null)
                        {
                            using (var memoryStream = new MemoryStream())
                            {
                                Model.Input.ProfilePicture.CopyTo(memoryStream);
                                var imageData = memoryStream.ToArray();
                                var imageBase64 = Convert.ToBase64String(imageData);
                                var imageSrc = $"data:image;base64,{imageBase64}";
                                <img src="@imageSrc" class="img-fluid rounded-circle profile-picture" alt="Profile Picture" />
                            }
                        }
                        else
                        {
                            <div class="profile-picture-default">
                                <span>No profile picture uploaded</span>
                            </div>
                        }
                        <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </main>
    </div>

