@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<br></br>
<h1 class="text-center">@ViewData["Title"]</h1>
<p class="text-center">
    Please check your email to reset your password.
</p>

<div class="text-center">
    <a href="/Identity/Account/Login" class="btn btn-primary">Return to Login</a>
</div>
